<!DOCTYPE HTML>

<html>
	<head>
		<title>Gig Logic</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		
		
		
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1>Gig Logic</h1>
				<p>Insert some text here about the launch of<br />
				your awesome service.</p>
			</header>

		<!-- Signup Form -->
			<form id="signup-form" method="post" action="#">
				<input type="email" name="email" id="email" placeholder="Email Address" />
				<input type="submit" value="Sign Up" />
			</form>

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><%= image_tag("Twitter.png", :size => "50x50") %></li>
					<li><%= image_tag("Instagram.png", :size => "50x50") %></li>
					<li><%= image_tag("Email.png", :size => "50x50") %></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Medici Collective</li><li>Credits: <a href="http://jubil.co">Jubil</a></li>
				</ul>
			</footer>

	

	</body>
</html>